.cover__bakground {
    
    background-image: url(../../../images/cover-trains.jpg);
    max-width: 1184px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 92px 48px;
    background-position: center;
  
}

@media screen and (max-width: 1030px) {
     .cover__bakground {
        margin: 92px 0;
    }
}