.cover__bakground {
    display: flex;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    object-position: center;
    object-fit: cover;
    width: 100%; 
    height: 100%;
    background-size: cover;
    overflow: auto;
    box-sizing: border-box;
    flex-grow: 1;
}

@media screen and (max-width: 1024px) {
     .cover__bakground {
        width: 100vw; 
        height: calc(100vw*0.625);
    }
}

