@import url(./__title/lead__title.css);
@import url(./__subtible/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
@import url(./__figure/lead__figure.css);

.lead {
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}

