.cover__subtitle {
    font-style: normal;
    text-align: center;
    color: #ffffff;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        max-width: 270px;
    }
}