@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__logo/header__logo.css);

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    box-sizing: border-box;
}



