.footer__link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
}

.footer__link:hover {
    opacity: .8;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 320px) {
    .footer__link {
        padding-bottom: 32px;
        font-size: 24px;
        line-height: 1;
   }



}
