.lead__title {

    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    margin: 66px auto 24px auto;
}

@media screen and (max-width: 1030px) {
    .lead__title {
        margin: 48px auto 32px auto;
    }
}



@media screen and (max-width: 320px) {
    .lead__title {
        margin: 48px auto 16px auto;
        font-size: 2.5rem;
        line-height: 1.1;
    }
}