.footer__links {
    display: inline-flex;
    flex-direction: row; 
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
    .footer__links {
       flex-direction: column;   
   }
}
