.place__paragraph {
    margin: 0 0 24px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #FFFFFF;
    box-sizing: content-box;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    padding: 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
       
    }
}

@media screen and (max-width: 350px) {
    .place__paragraph {
       
        font-size: 1rem;
        line-height: 1.6;
        width: 100%;
        margin: 0 16px 24px 16px;
        box-sizing: border-box;
        max-width: 288px;
       
    }
}