.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    margin: 35px 0 32px 0;
    max-width: 690px;
}

@media screen and (max-width: 1030px) {
    .intro__text  {
        margin: 40px 0 32px 0;
        
    }
}

@media screen and (max-width: 770px) {
    .intro__text {
        margin: 40px 0 32px 0;
        
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        margin: 40px 0 32px 0;
    }
}