@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-value/intro__list-value.css);

.intro {
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}