@import url(./__bakground/cover__bakground.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


.cover {
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    box-sizing: border-box;
    /* min-height: 740px; */
    /* max-width: 1184px; */
}