.cover__overlay {
    display: flex;
    background-color: rgba(16, 17, 18, 0.3);
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* padding: 21% 0; */
    object-fit: cover; 
    /* overflow: hidden;  */
    text-decoration: none;
    justify-content: center;
    align-items: center;
}



.cover__overlay:hover {
    transition: .5s ease-in-out;
    background-color: rgba(16, 17, 18, 0.8);
}