.cover__title {
    max-width: 560px;
    margin: 0 auto 32px auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 9.4vw;
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 250px;
    }
}