@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    padding:92px 48px 24px 48px;
    
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px 24px;
   }
}

@media screen and (max-width: 320px) {
    .footer {
       padding: 64px 16px 24px 16px;
       flex-direction: column;
       align-items: flex-start;
   }
}