.place__website {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    justify-content: flex-end;

}

.place__website:hover {
    opacity: .8;
    transition: .5s ease-in-out;
}


@media screen and (max-width: 320px) {
    .place__website {
        display: none;
    }
}